{% macro div_footer()%}



<footer class="bg-primary text-center text-warning">
    <div class="row">
        <!-- DIV MOSTRA DADOS CLIMÁTICOS !-->
        <div class="col-12 col-lg-4  order-1 order-lg-1 container" >
            <div class="mx-2 my-2" id="div-clima"></div>
        </div>
        <!-- DIV MOSTRA DADOS DA EMPRESA, REDES SOCIAIS !-->
        <div class="col-12 col-lg-4 container order-3 order-lg-2 mx-auto p-4 div-info-logo" >
            <div class="text-center my-5">
                <section class="mt-2">
                    <!-- Facebook -->
                    <a class="btn btn-outline-warning btn-floating m-1" target="_blank" title="Facebook"
                       href="https://www.facebook.com/RonyMagalhaes/" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <!-- Whatsapp -->
                    <a class="btn btn-outline-warning btn-floating m-1" target="_blank" title="Whatsapp"
                       href="https://api.whatsapp.com/send?phone=5532984422783" role="button">
                        <i class="fab fa-whatsapp"></i>
                    </a>

                    <!-- Google
                    <a class="btn btn-outline-warning btn-floating m-1" title="Google" href="#!" role="button">
                        <i class="fab fa-google"></i>
                    </a>-->
                    <!-- Instagram -->
                    <a class="btn btn-outline-warning btn-floating m-1" target="_blank" title="Instragram"
                       href="https://www.instagram.com/ronygustavo_rm/" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <!-- Linkedin -->
                    <a class="btn btn-outline-warning btn-floating m-1" target="_blank" title="Linkedin"
                       href="https://www.linkedin.com/in/ronygustavo-magalh%C3%A3es-13b84041/" role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <!-- Github -->
                    <a class="btn btn-outline-warning btn-floating m-1" target="_blank" title="Github"
                       href="https://github.com/Ronyrm" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                    <!-- Docker -->
                    <a class="btn btn-outline-warning btn-floating m-1" target="_blank" title="Docker Hub"
                       href="https://hub.docker.com/u/ronygustavo" role="button">
                        <i class="fab fa-docker"></i>
                    </a>

                </section>
                <section>
                    <h5 class="text-warning text-center">
                        CopyRight RGM-Solutions - SisNutri
                    </h5>
                    <p class="text-white text-center">
                        <small>Rony Gustavo R. Magalhães - 2021</small>
                    </p>
                </section>

            </div>
        </div>
        <!-- DIV MOSTRA DADOS MOEDA PREÇO DO REAL!-->
        <div class="col-12 col-lg-4 container order-2 order-lg-3 my-auto" >
            <div class="mx-2 my-2" id="div-moedaBR"></div>
        </div>
    </div>

</footer>
{% endmacro%}

