{% extends "layouts/base.html" %}
{% block csslogin %}<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">{% endblock %}
{% block jslogin %}<script src="{{ url_for('static', filename='js/login.js') }}"></script>{% endblock %}
{% block sucess %} {{ sucess }}{% endblock %}
{% block content %}
<div class="text-center w-100">
    {% if sucess==False %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ mensage }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <form class="form-signin" method="post" action="{{ url_for('auth.auth_form') }}">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="text" name="username" id="inputEmail" class="form-control my-1" placeholder="Email address" required="" autofocus="">
          <label for="inputPassword"  class="sr-only">Password</label>
          <input type="password" name="password" id="inputPassword" class="form-control my-1" placeholder="Password" required="">
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}