<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% import 'layouts/head.html' as head %}
    {{ head.head_content('RGMSolutions') }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/foods.css') }}">
</head>
<body class="bodyfoods">
    <main>
        <nav class="navbar navbar-expand-md  bg-primary">
            <a class="navbar-brand" href="{{ url_for('routesatleta.get_mainatleta')}}">
                <img class="img-fluid" src="{{ url_for('static', filename='img/logorgm.png') }}" alt="">
            </a>

        </nav>

        <div id="content" class="container main-container my-2">
            {% block content %} {% endblock %}
        </div>
    </main>


    {% block jsjquery %} {% endblock%}
    {% block jsfoods %} {% endblock %}

</body>
</html>