{% macro listgroupna() %}
    <div class="list-group mb-2">
        <!--<button onclick="btnnivelatv(1);" type="button" class="list-group-item list-group-item-action">
            <small>
                Completamente paralisado, incapaz de se mover sem a ajuda de outras pessoas (1.0)
            </small>
        </button>
        <button onclick="btnnivelatv(1.05);" type="button" class="list-group-item list-group-item-action">
            <small>
                Imóvel, estacionário com algum movimento do braço, acamado ou parcialmente paralisado (1.05)
            </small>
        </button>
        <button onclick="btnnivelatv(1.1);" type="button" class="list-group-item list-group-item-action">
            <small>
                Estilo de vida restrito, movimento é limitado a um espaço confinado, quase sempre sentado ou deitado (1.1)
            </small>
        </button>
        <button onclick="btnnivelatv(1.16);" type="button" class="list-group-item list-group-item-action">
            <small>
                Trabalhar em casa com pouca ou nenhuma viagem, nenhum exercício, algumas caminhadas, principalmente sentado ou deitado (1.16)
            </small>
        </button>!-->
        <button onclick="btnnivelatv(1.2);" type="button" class="list-group-item list-group-item-action">
            <small>
                Estilo de vida sedentário, pouco ou nenhum exercício, caminhada moderada, trabalho de escritório (longe de casa) (1.2)
            </small>
        </button>
        <button onclick="btnnivelatv(1.375);" type="button" class="list-group-item list-group-item-action">
            <small>
                Ligeiramente ativo, exercício ou esportes leves 1 a 3 dias por semana, corrida leve ou caminhada 3 a 4 dias por semana (1,375)
            </small>
        </button>
        <!--<button onclick="btnnivelatv(1.425);" type="button" class="list-group-item list-group-item-action">
            <small>
                Levemente ativo, exercício ou esportes moderados 2 a 3 dias por semana, corrida leve ou caminhada 5 a 7 dias por semana (1.425)
            </small>
        </button>!-->
        <button onclick="btnnivelatv(1.55);" type="button" class="list-group-item list-group-item-action">
            <small>
                Moderadamente ativo, trabalho físico, exercício ou esportes 4 a 5 dias por semana, trabalhador da construção (1,55)
            </small>
        </button>
        <button onclick="btnnivelatv(1.75)" type="button" class="list-group-item list-group-item-action">
            <small>
                Muito ativo, trabalho físico pesado, exercícios ou esportes de 6 a 7 dias por semana, trabalhador árduo (1,75)
            </small>
        </button>
        <button onclick="btnnivelatv(1.9)" type="button" class="list-group-item list-group-item-action">
            <small>
                Extremamente Ativo, Trabalho Físico Muito Pesado ou Exercício Todos os Dias, Atleta Profissional / Olímpico (1.9)
            </small>
        </button>
    </div>
{% endmacro %}