{% macro mddeleteendereco(idpessoa) %}
    <div class="modal fade modal-delete-endereco" id="modal-delete-endereco" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content bg-primary">
                <div class="modal-header bg-primary">
                    <input type="hidden" name="edtidendereco-delete" id="edtidendereco-delete" >
                    <h5 class="modal-title text-white">Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id='alert-msgdelete-endereco' class="alert fade show text-center d-none mx-2 my-2" role="alert">
                    ddddddddddddddd
                </div>

                <div class="modal-body text-warning bg-primary" id="modal-msg-delete-endereco">

                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" id="btn-delete-endereco"
                            onclick="confirmar_exclusao_endereco({{idpessoa}},document.querySelector('#edtidendereco-delete').value);"
                            class="btn btn-warning" >
                        <span class="glyphicon glyphicon-ok"></span> Sim
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                       <span class="glyphicon glyphicon-remove"></span> Não
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}