<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% import 'layouts/head.html' as head %}
    {{ head.head_content('RGMSolutions') }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foods.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atleta.css') }}">
</head>


<body class="bodyvalidationacess bodyfoods">

        <div id="content" class="container main-container my-5 bg-primary rounded ">
            <nav class="navbar navbar-expand-md  bg-primary mx-auto my-auto">
                <a class="navbar-brand mx-auto" href="{{ url_for('routesatleta.get_mainatleta')}}">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/logorgm.png') }}" alt="">
                </a>
            </nav>
            {% block content %} {% endblock %}
        </div>
    {% block jsjquery %} {% endblock%}
    <script src="{{ url_for('static', filename='js/forgoutitpwd.js') }}"></script>

</body>

</html>