.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232,109,3, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: orange;
}

.bgpadrao{
    background-color: #343a40;

}
.colortxt {
    color: orange;
}

.colorlink {
    color: orange;
}
.colorlink:hover {
    color: white;
}

.btnpadrao {
    background-color:orange;
    border: 2px solid #343a40;
    border-radius:25px;

}

.btnpadrao:hover {

    background-color:orange;
    border: 2px solid #343a40;
    border-radius:25px;
}

.bodybase{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #E6E6FA;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here
  height: 60px;
  line-height: 60px;
  Vertically center the text there */

}

.txt-align-vert-center{
 color : white;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
    align:center;
}




