<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-grid.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-reboot.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-reboot.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-grid.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/glyphicons/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/glyphicons/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/glyphicons/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/glyphicons/css/bootstrap.min.css') }}" rel="stylesheet">


    <script src="{{ url_for('static', filename='css/bootstrap/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap/js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap/js/tooltip.min.js')}}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sisnutri.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sisnutri.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
    {% block cssproduct %} {% endblock %}

        <title> Produtos </title>
    {% endblock %}

</head>
<body>
    <main>
        <nav class="navbar navbar-expand-md  bg-success">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-auto p2">
                        <a class="nav-link colorlink text-center px-2" href="{{ url_for('main.indexmain',token=token) }}">
                            <span class="glyphicon glyphicon-chevron-left"/>Voltar
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <h1 class="navbar-brand mx-2 text-white " >Cadastro de Produtos</h1>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-auto p2">
                        <a class="nav-link colorlink text-center px-2" onclick="btngrupoprod(1,15);" data-toggle="modal" data-target=".modal-groupprod" href="#">
                            Grupo de Produtos
                        </a>
                    </li>


                </ul>
            </div>
        </nav>

        <div id="content" class="container main-container my-2">
            {% block content %} {% endblock %}
        </div>
    </main>


    {% block jsjquery %} {% endblock%}
    {% block jsproduct %} {% endblock %}

</body>
</html>