{% extends "layouts/atleta/diario/basediario.html" %}
{% block result %} {{ result }} {% endblock %}
{% block mensagem %} {{ mensagem }} {% endblock %}
{% block refeicao %} {{ refeicao }} {% endblock %}
{% block metaatleta %} {{ metaatleta }} {% endblock %}
{% block atletalogado %} {{ atletalogado }} {% endblock %}
{% block dataatual %} {{ dataatual }} {% endblock %}
{% block databr %} {{ databr }} {% endblock %}
{% block sumdieta %} {{ sumdieta }} {% endblock %}

{% block jsatleta %}


{% endblock %}


{% block jsfuncs %}
<script src="{{ url_for('static', filename='js/funcs-sisnutri.js') }}"></script>
{% endblock %}

{% block jsjquery %}{% endblock %}


{% block content %}


{% if not current_user.is_authenticated %}
<div id="contentprincipal" class="container my-2">

</div>

{% endif %}

<!-- ESPAÇO USUARIO  !-->
{% if current_user.is_authenticated %}

<div id="contentatleta">
    <div class="text-warning text-center">'
        <h5 class="bg-primary p-2 border border-warning rounded">
            <strong>Meu Diário</strong>
        </h5>
    </div>

    <div id="accordion-refeicoes">

    </div>

    <div class="row mt-4">
        <!-- Meta Atleta !-->
        <div class="col-12 col-lg-4 my-1">
            <div class="col-12 bg-dark border border-warning rounded-2 div-somas" id="div-metataatleta">
                <h6 class="text-center text-warning p-2"> Meta Atleta</h6>
                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                            <th class="align-middle" scope="col">Valor Calórico:</th>
                            <td class="align-middle"><label class="mx-auto">{{metaatleta[0].valalvocalorico|round}} kcal</label></td>
                        </tr>
                        <tr>
                            <th scope="col">Proteina:</th>
                            <td>
                                    Kcal: {{metaatleta[0].valkcalproteina|round}} |
                                    Grs: {{metaatleta[0].valgramasproteina|round}} |
                                    {{metaatleta[0].percproteina|round}}%
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Carboidrato:</th>
                            <td>
                                    Kcal: {{metaatleta[0].valkcalcarb|round}} |
                                    Grs: {{metaatleta[0].valgramascarbo|round}} |
                                    {{metaatleta[0].perccarb|round}}%
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Gordura:</th>
                            <td>
                                    Kcal: {{metaatleta[0].valkcalfat|round}} |
                                    Grs: {{metaatleta[0].valgramasgordura|round}} |
                                    {{metaatleta[0].percfat|round}}%
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- Total Dieta !-->
        <div class="col-12 col-lg-4 my-1">
            <div class="col-12 bg-dark border border-warning rounded-2 div-somas" id="div-totaldiario">
                <h6 class="text-center text-warning p-2"> Total Diário</h6>
                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                            <th class="align-middle" scope="col">Valor Calórico:</th>
                            {% set totalkcal = 0 %}
                            {% if sumdieta.totalkcal != None %}
                                {% set totalkcal = sumdieta.totalkcal %}
                            {% endif %}
                            <td class="align-middle"><label class="mx-auto">{{ totalkcal|round }} Kcal</label></td>
                        </tr>
                        <tr>
                            <th scope="col">Proteina:</th>
                            {% set totalproteina = 0 %}
                            {% set kcal = 0 %}
                            {% if sumdieta.totalproteina != None %}
                                {% set totalproteina = sumdieta.totalproteina %}
                                {% set kcal = sumdieta.totalproteina*4 %}
                            {% endif %}

                            <td>
                                Kcal: {{kcal|round(2)}} |
                                Grs: {{totalproteina|round(2)}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Carboidrato:</th>
                            {% set totalcarbo = 0 %}
                            {% set kcal = 0 %}
                            {% if sumdieta.totalcarbo != None %}
                                {% set totalcarbo = sumdieta.totalcarbo %}
                                {% set kcal = sumdieta.totalcarbo*4 %}
                            {% endif %}
                            <td>
                                Kcal: {{ kcal|round(2) }} |
                                Grs: {{ totalcarbo|round(2) }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Gordura:</th>
                            {% set totalgordura = 0 %}
                            {% set kcal = 0 %}
                            {% if sumdieta.totalgordura != None %}
                                {% set totalgordura = sumdieta.totalgordura %}
                                {% set kcal = sumdieta.totalgordura*9 %}
                            {% endif %}
                            <td>
                                Kcal: {{kcal|round(2)}} |
                                Grs: {{ totalgordura|round(2) }}

                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- Diferença !-->
        <div class="col-12 col-lg-4 my-1">
            <div class="col-12 bg-dark border border-warning rounded-2 div-somas" id="div-kcaldiferenca">
                <h6 class="text-center text-warning p-2"> Diferença</h6>
                <table class="table table-sm table-dark">
                    <thead id="thead-diferenca">
                    </thead>
                </table>
            </div>
        </div>
    </div>

    {% import 'layouts/atleta/diario/mddeletefood.html' as modal_delete_food %}
    {{ modal_delete_food.modaldeletefood() }}
    {% import 'layouts/atleta/diario/mdinserteditfood.html' as modal_insedit_food %}
    {{ modal_insedit_food.modalinserteditfood(dataatual,metaatleta[0].id) }}

</div>
{% endif %}

<script src="{{ url_for('static', filename='js/diario.js') }}"></script>

<script>
    $().ready(function() {
        var dt = '{{ dataatual }}';

        dtnow = new Date(dt);
        console.log(dt);
        dataprev = adicionarDiasData(dtnow,0);
        datanext = adicionarDiasData(dtnow,2);
        dataprevBR = adicionarDiasDataBR(dtnow,0);
        datanextBR = adicionarDiasDataBR(dtnow,2);
        databr = adicionarDiasDataBR(dtnow,1);

        var totalregref  = {{ refeicao|length }};
        {% if refeicao|length > 0 %}
            var data_refeicao = {{refeicao|tojson}};
        {% else %}
            var data_refeicao = [];
        {% endif %}

        {% if metaatleta|length > 0 %}
            var data_metaatleta = {{metaatleta[0]|tojson}};
        {% else %}
            var data_metaatleta = [];
        {% endif %}

        var data_sumdieta = {{sumdieta|tojson}};

        carrega_refeicoes(data_refeicao,dt);
        calcula_preeche_valdiferenca(data_sumdieta,data_metaatleta);
    });

</script>

{% endblock %}
