<!DOCTYPE html>
<html lang="pt-br">
<script>
    var idpessoa = 0;
    {% if idpessoa > 0 %}
        idpessoa = {{idpessoa}};
    {% endif %}
</script>
<head>
    {% import 'layouts/head.html' as head %}
    {{ head.head_content('RGMSolutions') }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foods.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atleta.css') }}">
</head>

<body class="bodyvalidationacess bodyfoods">
        <nav class="navbar navbar-expand-md  bg-primary mx-auto">
            <a class="navbar-brand" href="{{ url_for('routesatleta.get_mainatleta')}}">
                <img class="img-fluid" src="{{ url_for('static', filename='img/logorgm.png') }}" alt="">
            </a>
        </nav>
        <div id="content" class="container main-container my-2 bg-primary rounded ">
            {% block content %} {% endblock %}
        </div>
    {% block jsjquery %} {% endblock%}

    <script src="{{ url_for('static', filename='js/packagetrack.js') }}"></script>

</body>

</html>